.loginBody{
    width: 40vw;
    height: 70vh;
    margin-left: 50%;
    margin-top: 15vh;
    transform: translate(-50%, 0);
}

.loginBody h1{
    font-family: 'minion pro', Arial, Helvetica, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    font-size: 50px;
    color: white;
}

.loginFormulier{
    margin-top: 80px;
}

.loginBody p {
    color: white;
}