select {
    -webkit-appearance: button;
    -moz-appearance: button; 
    -webkit-user-select: none;
    -moz-user-select: none; 
    -webkit-padding-end: 20px;
    -moz-padding-end: 20px;
    -webkit-padding-start: 2px;
    -moz-padding-start: 2px;
    background-color: white; /* Fallback color if gradients are not supported */
   
    background-position: center right;
    background-repeat: no-repeat;
    border-radius: 5px;
    font-size: inherit;
    margin: 0;
    overflow: hidden;
    padding-top: 2px;
    padding-bottom: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.body label{
    text-align: left;
    margin-top: 20px;
    margin-bottom: 10px;
}

button {
    margin-top: 20px;
    margin-bottom: 30px;
}

.row{
    display: flex;
    justify-content: space-between;
}

.row .input {
    width: 45%;
}

.taken{
    display: flex;
    justify-content: space-between;
}

.taakbox {
    width: 100%;
    /* background-color: rgba(236, 67, 55, 0.247) ; */
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    border-bottom: 2px rgb(236, 67, 55) solid;


}

.taakbox h3 {
    font-family: 'minion pro','Times New Roman', Times, serif;
    /* color: rgb(236, 67, 55); */
    border-bottom: 2px rgb(236, 67, 55) solid;
}

.taakbox p {
    font-family: 'roboto', Arial, Helvetica, sans-serif;
    color: rgb(236, 67, 55);
    font-size: 13px;
}